
<section  class=" bg-white h-screen w-full lg:absolute flex justify-center mt-5 lg:m-0 items-start lg:items-center right-0 top-0 lg:w-1/2 xl:w-1/4 ">
    
<form [formGroup]="signUp"  class="flex justify-center w-full p-2 flex-col gap-2 items-center " action="">
    <h3 class="pacifico-regular font-extrabold text-4xl text-color mb-5">Foodify</h3>

       <p class="text-2xl font-bold pacifico-regular"> Sign Up</p>
     <p class=" font-bold pacifico-regular">Create an account</p>
         


       <input  
      type="text"  formControlName="full_name"
      class="block p-2 w-11/12 md:w-3/4 text-sm outline-none rounded-1 border border-gray-300  "
      placeholder="Enter your Full Name">


       <input  
      type="text"  formControlName="phone_number"
      class="block p-2 w-11/12 md:w-3/4 text-sm outline-none rounded-1 border border-gray-300  "
      placeholder="Enter your Phone Number">


       <input  
      type="password"  formControlName="password"
      class="block p-2 w-11/12 md:w-3/4 text-sm outline-none rounded-1 border border-gray-300  "
      placeholder="Enter your Password">

       <input  
      type="password"  formControlName="confirmPassword"
      class="block p-2 w-11/12 md:w-3/4 text-sm outline-none rounded-1 border border-gray-300  "
      placeholder="Enter your Password">


<div class="w-11/12 md:w-3/4 flex flex-col gap-1.5">
    <!-- <a class="pacifico-regular font-semibold text-color  w-100 no-underline  " href="">Forget your password?</a> -->
    <input  [routerLink]="['/otp']"
      type="submit" id="name" value="Continue"
      class="block w-full mainColor text-white p-2  cursor-pointer text-sm outline-none rounded-1 border border-gray-300  "
    >

    <span [routerLink]="['/signin']" class="pacifico-regular cursor-pointer font-semibold ">Already have an account? <a class="pacifico-regular cursor-pointer font-semibold text-color no-underline" >Sign in</a></span>
</div>
   
</form>
</section>